@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --dark_blue: #312783;
    --light_blue: #1d70b7;
    --orange: #e94e1a;
    --dark_orange: #d13603;
    --white: #ffffff;
}

* {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 500;
}

.page-header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}

.dropdown-menu {
    background-color: rgb(0 0 0 / 45%);
    width: 250px;
    /* left: 30px; */
    border: none;
    border-radius: 0 6px 8px 8px;
    /* backdrop-filter: blur(2px); */
}

.submenu-link {
    color: white;
    padding: 8px 14px;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    /* .navbar .nav-item:hover .nav-link {
    } */
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.active {
    background-color: white;
    color: var(--dark_blue);
}

.active-link {
    color: var(--dark_blue);
}

.logo {
    margin: 10px;
    width: 65%;
}

.hero-image {
    position: relative;
    height: 750px;
    margin-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.waves {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}

.logo-notch {
    position: absolute;
    bottom: 0;
    right: 41px;
    width: 17%;
}

/* .slider-image {
  height: 750px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

.carousel-control-prev-icon {
    background-image: url("../img/left-arrow.svg");
}

.carousel-control-next-icon {
    background-image: url("../img/right-arrow.svg");
}

.carousel-img {
    height: 750px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 500px) {
    .carousel-img, .hero-image {
        height: 500px;
    }
}

.hero-text-container {
    justify-content: center;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.hero-text-container h1 {
    margin-top: 15%;
    /* font-size: 23px; */
    font-size: 3.2vw;
}

.hero-text-container h2 {
    width: 65%;
    font-weight: 200;
    margin: 30px 0 35px 0;
    font-size: 1.6vw;
}

.hero-text-container a {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border: 1px solid;
    padding: 11px 22px 11px 12px;
    border-radius: 8px;
}

a.nav-link.dropdown-toggle.header-link {
    border-radius: 8px 8px 0 0;
}

.header-link {
    color: white;
    margin-left: 0;
    border-radius: 8px 8px;
}

.header-link:hover {
    color: white;
}

.li-link {
    border-radius: 8px 8px;
    margin-left: 30px;
}

.li-link:hover {
    color: white;
    background-color: rgb(0 0 0 / 45%);
}

.nav-item.dropdown.li-link {
    border-radius: 8px 8px 0 0;
}

.dropdown-toggle::after {
    display: none;
}

.second-sec {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}

.image-container {
    position: relative;
    background-position: center;
    width: 40%;
    height: 100%;
    aspect-ratio: 5/6;
    transform: translate(30%, -9%);
    /* transform: translate(35%, -5%);
  margin-left: -90px; */
}

.sec-img {
    /* width: 70%;
    height: auto; */
    width: auto;
    height: 530px;
    margin-top: -40px;
    margin-left: 40px;
    /* z-index: 0; */
    z-index: 1; /* new one */
}

@media (max-width: 500px) {
    .sec-img {
        height: 430px;
    }
}

.sec-content {
    /* height: 550px;
    height: 34rem; */
    justify-content: space-between;
    margin: auto;
}

.section-text h1 {
    font-family: "Rubik", sans-serif;
    margin-top: 10%;
    font-weight: 600;
    /* font-size: 3.1rem; */
    color: var(--light_blue);
    font-size: 2vw;
}

.section-text h2 {
    margin-top: 4%;
    margin-bottom: 10%;
    /* font-size: 3.1rem; */
    color: #6b6b6c;
    font-size: 1.04vw;
    line-height: 1.6;
}

.section-text a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--orange);
    padding: 4px 16px 4px 16px;
    border-radius: 5px;
}

.section-title {
    color: var(--light_blue);
    font-family: "Rubik", sans-serif;
    font-size: 1.8rem;
    margin-top: 1.3rem;
}

.paragraph-container p {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 500;
    margin-top: 1.3rem;
}

/* .left-p {
    padding-left: 170px;
}

.right-p {
    padding-right: 180px;
} */

.section-link,
.paragraph-container a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    background-color: var(--orange);
    padding: 0.17rem 1.6rem;
    border-radius: 6px;
    display: inline-block;
    margin-top: 2rem;
}

.section-link:hover {
    color: white;
    background-color: var(--dark_orange);
}

.third-sec {
    position: relative;
    height: 512px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.waves-2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.icons-container {
    width: 100%;
    align-items: center;
    display: flex; /* justify-content: center; */
    justify-content: space-evenly;
    position: relative;
}

.icons {
    /* width: 77px; */
    width: 100px;
    height: auto;
    margin-bottom: 6px;
}

.icons-text {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-text h1 {
    color: white;
    text-align: center;
    margin-top: 6px;
    /* width: 55%; */
    width: 80%;
    font-size: 30px;
    line-height: 1;
}

.icons-text h1 p {
    font-size: 18px;
    line-height: 1.6;
}

.fourth-sec {
    position: relative;
}

.waves-3 {
    /* display: none; */
    position: absolute;
    margin-top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.title {
    margin: 22px 0;
    font-weight: 700;
    /* font-size: 3.1rem; */
    color: var(--dark_blue);
    font-size: 2vw;
}

.card-link {
    text-decoration: none;
}

.cards {
    height: auto;
    margin: 15px;
}

/* .card {
    height: 24rem;
} */

.img-contain {
    height: 212px;
    /* min-width: 294px; */
    background-color: #6b6b6c;
    border-radius: 10px;
    overflow: hidden;
}

.card-image {
    background-position: center;
    background-size: cover;
    width: 100%;
}

.articles {
    background-color: white;
    /* height: 430px; */
    height: auto;
    width: 95%;
    border-radius: 25px 25px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 22px;
    margin: 10px 0;
    color: var(--dark_blue);
}

.card-content h4 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(36, 36, 36);
}

.card-content p {
    text-transform: uppercase;
    font-size: 12px;
    color: #bfb8b0;
    margin-right: 14px;
}

.card-span {
    text-transform: uppercase;
    font-size: 12px;
    color: #bfb8b0;
}

.card-title {
    font-size: 22px;
    margin: 10px 0;
    color: var(--dark_blue);
}

.card-text {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: var(--orange);
}

.actualites-carousel {
    position: relative;
}

.actualites-carousel .slick-arrow {
    position: absolute;
    top: 45%;
    height: 37px;
    width: 37px;
    border: none;
    z-index: 999;
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
}

.actualites-carousel .slick-arrow.slick-prev {
    left: -2rem;
    background: url("../img/left-arrow-dark.svg") 0 0 / 100% no-repeat;
}
.actualites-carousel .slick-arrow.slick-next {
    right: -4rem;
    background: url("../img/right-arrow-dark.svg") 0 0 / 100% no-repeat;
}

@media (max-width: 1240px) {
    .actualites-carousel .slick-arrow.slick-prev {
        left: 0;
    }
    .actualites-carousel .slick-arrow.slick-next {
        right: -2rem;
    }
    .logo-notch {
        display: none;
    }
}
@media (max-width: 700px) {
    .actualites-carousel .slick-arrow.slick-prev {
        left: 1rem;
    }
    .actualites-carousel .slick-arrow.slick-next {
        right: -2rem;
    }
}

@media (max-width: 580px) {
    .actualites-carousel .slick-arrow.slick-prev {
        left: 1rem;
    }
    .actualites-carousel .slick-arrow.slick-next {
        right: -1.3rem;
    }
    .brand-slider {
        margin: 0;
    }
    .title {
        margin: 24px 0;
        font-weight: 700;
        color: var(--dark_blue);
        font-size: 15px;
    }
}

.brand-slider {
    margin: 40px 0;
}

.brand-slide {
    height: 70px;
    /* margin: 40% 0; */
}

.footer-container {
    position: relative;
    top: 35%;
}

.footer-container i {
    margin-right: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(191, 191, 191);
}

footer ul li {
    color: white;
    list-style: none;
}

.f-1,
.f-2 {
    line-height: 30px;
}

.footer-top {
    height: 350px;
    position: relative;
    background-color: var(--dark_blue);
}

.footer-bg {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
}

.footer-bottom {
    height: 100px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright,
.copyright a {
    color: white;
    text-decoration: none;
    margin-bottom: 0;
}

.copyright-area {
    background-color: var(--orange);
}

.copyright-text p {
    color: white;
    margin: 32px;
}

footer.footer-section {
    background-color: var(--dark_blue);
}
